.hr {
    color: blueviolet;
}

#pipe-top {
    background-color: #46ff75;
    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-top: 100px;
    border-bottom: 5px dotted darkgreen;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
    border-top: 7px double darkgreen;
}

#pipe-bottom {
    background-color: #46ff75;
    width: 150px;
    height: 200px;
    margin-left: 125px;
    border: 5px solid darkgreen;
    border-top-style: none;
}

h1 {
    color: blue;
    text-align: center;
}

div.solid {
    margin: auto;
    width: 0px;
    height: 0px;
    border-width: 100px;
    border-right-color: red;
    border-bottom-color: blue;
    border-top-color: green;
    border-left-color: yellow;
    border-style: solid;
}

.plan {
    width: 900px;
    height: 600px;
    margin: auto;
    background-image: url(bg.jpg);
}

.title {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: arial;
}

.em {
    width: 200px;
    margin: auto;
    padding-bottom: 10px;
    color: grey;
    border-bottom: 1px solid gray;
}

.F {
    margin-left: 80px;
    width: 200px;
}

#email {
    color: rgba(0, 0, 0, 0.51);
    margin: 10px 20px 0px 30px;
}

#data {
    color: rgba(0, 0, 0, 0.51);
    margin: 10px 20px 0px 30px;
}

#people {
    color: rgba(0, 0, 0, 0.51);
    margin: 10px 20px 0px 30px;
}

#smile {
    color: rgba(0, 0, 0, 0.51);
    margin: 10px 20px 0px 30px;
}

.button {
    text-align: center;
    color: white;
    font-family: arial;
    border-radius: 3px;
    width: 160px;
    border: 1px solid white;
    margin: auto;
    height: 25px;
    padding-top: 10px;
}

.money {
    color: rgba(255, 255, 255, 0.74);
    width: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.number1 {
    color: rgba(255, 255, 255, 0.74);
    width: 20px;
    display: inline-block;
    font-family: arial;
    margin-top: 10px;
    margin-left: 35px;
}

div.number {
    color: white;
    font-size: 80px;
    display: inline-block;
    width: 50px;
    margin-left: 10px;
}

.inner {
    background-color: rgba(19, 42, 54, 0.9);
    height: 50%;
}

div.col {
    color: aqua;
    width: 30%;
    height: 400px;
    background-color: white;
    display: inline-block;
    margin: 70px auto;
    margin-left: 20px;
}